// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.followers
{
  .floated_img
  {
    float: left;
  }
  clear: left;
}

.followings
{
  .floated_img
  {
    float: left;
  }
  clear: left;
}

.clear_left
{
  clear:left;
}




.status
{
  clear: left;
}
